h1 {
  font-size: 48px;
  color: rgb(71, 62, 62);
  margin: 12px 0;
}

a {
  border: 1px solid yellow;
  background-color: rgb(167, 1, 78);
  color: white;
  border-radius: 4px;
  padding: 12px 20px;
}

a:hover {
  text-decoration: none;
  background-color: rgb(180, 12, 90);
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
}

li {
  margin: 32px;
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
  padding: 16px;
}

/* #description {
  margin-bottom: 36px;
} */

header p {
  margin-bottom: 36px;
}

h2 {
  font-family: "Oswald", sans-serif;
  color: rgb(78, 13, 5);
}

.daily-goal {
  margin: 12px;
  color: rgb(71, 29, 22);
}
