h1 {
  color: black;
}

#todays-challenge {
  color: rgb(50, 50, 50);
  font-weight: bold;
  font-size: 52px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid black;
  margin-top: -100px;
}

main {
  background-color: rgb(245, 102, 13);
  border-radius: 6px;
  border: 4px solid black;
  margin: 200px auto 50px;
  width: 800px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#date-highlight {
  color: rgb(122, 2, 2);
}
